<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h2>My Orders</h2>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
      </div>
    </div>
      
    <div class="row responsive-table">
      <div class="col-12">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.position }} </mat-cell>
          </ng-container>
    
          <!-- Name -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row" matTooltip="{{ row.name }}">
              {{ row.name }}
            </mat-cell>
          </ng-container>
  
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row" matTooltip="{{ row.description }}">
              {{ row.description }}
            </mat-cell>
          </ng-container>
  
          <!-- Start Column -->
          <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.start | date }}
            </mat-cell>
          </ng-container>
  
          <!-- Expire Column -->
          <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Expire </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.end | date }}
            </mat-cell>
          </ng-container>

          <!-- Recipe Column -->
          <ng-container matColumnDef="recipe">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Recipe</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.recipe.name }}
              <!-- <a [routerLink]="['/clients', +row.clientId.id, 'orders']">
                {{ row.clientId.name }}
              </a> -->
            </mat-cell>
          </ng-container>

          <!-- Client Column -->
          <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Client</mat-header-cell>
            <mat-cell *matCellDef="let row">
            <a [routerLink]="['/clients', +row.clientId.id, 'orders']">
              {{ row.clientId.firstName }} {{ row.clientId.lastName}}
            </a>
            </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="j-c-c"> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row" class="j-c-e">
              <div class="button-row">
                <a [routerLink]="['/orders', row.id, 'edit']"
                  mat-raised-button color="primary"
                  class="mr-1 mb-1 mt-1">
                  <i class="fa fa-pencil"></i>
                </a>
                <app-modal-confirmation
                  [modalConfirmationText]="'Do you really want to delete this order? This process cannot be undone!'"
                  (modalAction)="deleteOrder(order.id)"></app-modal-confirmation>
              </div>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
</div>
