<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
        <h2>Add Ingredient to recipe</h2>
    </div>
  </div>

  <div class="row" >
    <div class="col-xl-12">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm">
        <mat-form-field class="col-md-4 w-100">
          <input required
            matInput
            type="text"
            id="input-name"
            name="name"
            [(ngModel)]="ingredient.name"
            placeholder="Name"
            #name="ngModel">
          <mat-error
            *ngIf="name.touched && !name.valid">
            Name field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4 w-100">
          <input required
            matInput
            type="number"
            id="input-amount"
            name="amount"
            [(ngModel)]="ingredient.amount"
            placeholder="Amount"
            #amount="ngModel">
          <mat-error
            *ngIf="amount.touched && !amount.valid">
            Amount field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-4 w-100">
          <mat-label>Unit Measure</mat-label>
          <mat-select
            name="unitMeasure"
            [(ngModel)]="ingredient.unitMeasure"
            #unitMeasure="ngModel">
            <mat-option value="option">g</mat-option>
            <mat-option value="option">L</mat-option>
          </mat-select>
          <!-- <input required
            matInput
            type="text"
            > -->
          <mat-error
            *ngIf="unitMeasure.touched && !unitMeasure.valid">
            Unit Measure field is required
          </mat-error>
        </mat-form-field>

        <div class="col-md-4">
          <div class="p-2">
            <button
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!f.valid">Save Ingredient</button>
          </div>
          <!-- <div class="p-2">
            <button
              mat-raised-button
              type="button"
              [routerLink]="['..']">
              Cancel</button>
          </div> -->
        </div>
      </form>
    </div>
  </div>
</div>