<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
        <h2>Create New Order</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <form
        (ngSubmit)="onSubmit(f)"
        #f="ngForm">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100" *ngIf="recipes">
              <mat-select required
                id="select-recipes"
                name="recipe"
                placeholder="Recipe"
                [(ngModel)]="order.recipe.id"
                (selectionChange)="onRecipeChange($event.value)"
                #ltSelect="ngModel">
                <mat-option
                  *ngFor="let recipe of recipes"
                  [value]="recipe.id">
                  {{ recipe.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-2">
            <mat-form-field class="w-100">
              <input
                matInput
                type="number"
                id="input-multiplyRecipe"
                [(ngModel)]="multiplyRecipe"
                name="multiplyRecipe"
                placeholder="Multiply Recipe">
            </mat-form-field>
          </div> -->
        </div>

        <mat-form-field class="w-100">
          <textarea
            matInput
            matTextareaAutosize
            matAutosizeMinRows="2"
            type="text"
            id="input-name"
            [(ngModel)]="order.name"
            name="name"
            placeholder="Name"
            required
          ></textarea>
        </mat-form-field>

        <mat-form-field class="w-100">
          <textarea
            matInput
            matTextareaAutosize
            matAutosizeMinRows="2"
            type="text"
            id="input-description"
            [(ngModel)]="order.description"
            name="description"
            placeholder="Description"
            required
          ></textarea>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput
                  placeholder="Entry Date"
                  required
                  [value]="date.begin | date:'medium'"
                  disabled>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput
                  placeholder="Due Date"
                  required
                  [satDatepicker]="picker"
                  (dateChange)="onDateChange($event)"
                  [value]="date.end | date:'medium'"
                  disabled>
                <sat-datepicker #picker [rangeMode]="false" disabled="false">
                </sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
            [min]="minDate" [max]="maxDate" [disabled]="disabled" [value]="date.end">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
            [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
            [enableMeridian]="enableMeridian" [disableMinute]="disableMinute" [hideTime]="hideTime">
          </ngx-mat-datetime-picker>
        </mat-form-field> -->

        <div class="form-row">
          <div class="p-2">
            <button
              mat-raised-button color="primary"
              type="submit"
              [disabled]="!f.valid">Save Order</button>
          </div>
          <div class="p-2">
            <button
              mat-raised-button
              type="button"
              [routerLink]="['..']">
              Cancel</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>